<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste de Templaite</title>
</head>
<body>
    <h1>Modelo de Template com jinja2</h1>

    <!--Comentario com jinja-->
    {# Comentario com jinja #}

    <!--Imprimir um resultado Passar informações com variaveis-->

    {{x + y}}


    <!--Declarações-->

    {% if x >= 50 %}
        <p>Olá</p>
    {% else %}
        <p>Valor invalido</p>
    {% endif %}
    <hr>

    <table>
        {% for k, v in query.items() %}
        <tr>
            <th>{{k}}</th>
            <td>{{v}}</td>
        </tr>
        {% endfor %}
    </table>


    
    
</body>
</html>