<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exemplo de session</title>
</head>
<body>
{% if username != '' %}
    <p>Username logado: {{username}}</p>
    <p>Caso deseje sair <a href="/logout">Logout</a></p>

{% else %}
    <p>Você não está logado!</p>
    <p>Click no link para tela de login <a href="/login">Login</a></p>
{% endif %}    
</body>
</html>